<header class="header">
  <svg class="header-discont" width="20" height="18" stroke="black">
    <use href="../img/svg/icons.svg#icon-discont"></use>
  </svg>
  <p class="header-info">30% off storewide — Limited time!</p>
  <a href="" class="header-shop">
    <p class="header-text">Shop Now</p>
    <svg class="header-arrow" width="18" height="18" stroke="black">
      <use href="../img/svg/icons.svg#icon-arrow-right"></use>
    </svg>
  </a>
  <svg class="header-criss-cross" width="11" height="11">
    <use href="../img/svg/icons.svg#icon-criss-cross"></use>
  </svg>
  <a href="../index.html" class="header-logo">
    3legant<span class="header-accent">.</span>
  </a>
  <nav class="header-nav">
    <ul class="header-list">
      <li class="header-item">
        <a href="" class="header-link header-link-active">Home</a>
      </li>
      <li class="header-item"><a href="" class="header-link">Shop</a></li>
      <li class="header-item"><a href="" class="header-link">Product</a></li>
      <li class="header-item"><a href="" class="header-link">Contact Us</a></li>
    </ul>
  </nav>
  <ul class="header-icons">
    <li class="header-icon">
      <svg
        class="header-svg"
        width="20"
        height="20"
        stroke="black"
        fill="white"
      >
        <use href="../img/svg/icons.svg#icon-search"></use>
      </svg>
    </li>
    <li class="header-icon">
      <svg
        class="header-svg"
        width="20"
        height="20"
        stroke="black"
        fill="white"
      >
        <use href="../img/svg/icons.svg#icon-account"></use>
      </svg>
    </li>
    <li class="header-icon">
      <svg
        class="header-svg"
        width="24"
        height="24"
        stroke="black"
        fill="white"
      >
        <use href="../img/svg/icons.svg#icon-bag"></use>
      </svg>
      <p class="header-num">2</p>
    </li>
  </ul>
</header>
