<section class="hero">
  <div class="hero-left">
    <svg class="hero-left-arrow" width="32" height="32" stroke="black">
      <use href="../img/svg/icons.svg#icon-arrow-left"></use>
    </svg>
  </div>
  <div class="hero-right">
    <svg class="hero-right-arrow" width="32" height="32" stroke="black">
      <use href="../img/svg/icons.svg#icon-arrow-right"></use>
    </svg>
  </div>
  <ul class="hero-list">
    <li class="hero-item"></li>
    <li class="hero-item"></li>
    <li class="hero-item"></li>
  </ul>
  <h1 class="hero-title">
    Simply Unique<span class="hero-color">/</span> Simply Better
    <span class="hero-color">.</span>
  </h1>
  <p class="hero-text">
    <span class="hero-accent">3legant</span> is a gift & decorations store based
    in HCMC, Vietnam. Est since 2019.
  </p>
</section>
