<section class="kinds">
  <h2 class="kinds-title" hidden>Kinds</h2>
  <ul class="kinds-list">
    <li class="kinds-item">
      <h3 class="kinds-subtitle">Living Room</h3>
      <a href="" class="linds-link">
        <p class="kinds-text">Shop Now</p>
        <svg class="kinds-arrow" width="20" height="20" stroke="black">
          <use href="../img/svg/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </li>
    <li class="kinds-item">
      <h3 class="kinds-subtitle">Bedroom</h3>
      <a href="" class="linds-link">
        <p class="kinds-text">Shop Now</p>
        <svg class="kinds-arrow" width="20" height="20" stroke="black">
          <use href="../img/svg/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </li>
    <li class="kinds-item">
      <h3 class="kinds-subtitle">Kitchen</h3>
      <a href="" class="linds-link">
        <p class="kinds-text">Shop Now</p>
        <svg class="kinds-arrow" width="20" height="20" stroke="black">
          <use href="../img/svg/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
